.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.logicDoor {
  width: 40%;
  border-radius: 8px;
  padding: 8px;
  background-color: rgb(207, 209, 212);
}


