.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
}

.calculate1{
  background-color: rgb(99, 99, 231);
}

.calculate2{
  background-color: rgb(243, 243, 111);
}

.calculate3{
  background-color: rgb(243, 151, 118);
}
