.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App > h4 {
  width: 30%;
  text-align: center;
}

.section {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px #ccc solid;
  margin: 5px 0;
  padding: 10px;
}

.section > * {
  margin: 5px 0;
}

.section > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section > div > div {
  margin: 10px 0;
  text-align: left;
}

.section > div > div > * {
  margin-right: 5px;
}

span {
  padding: 3px 5px;
  margin: 10px 0;
}

.verdadero {
  background-color: green;
  color: white;
}

.falso {
  background-color: red;
  color: white;
}