.new-book-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-book-control label {
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0.5rem;
  display: block;
}

.new-book-control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-book-actions {
  text-align: right;
}

.new-book {
  background-color: rgb(29, 117, 29);
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-book button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid rgb(25, 25, 99);
  background-color: rgb(25, 25, 99);
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.new-book .cancel {
  border: 1px solid rgb(185, 69, 39);
  background-color: rgb(185, 69, 39);
}
.new-book .cancel:hover,
.new-book .cancel:active {
  background-color: rgb(231, 25, 25);
  border-color: rgb(231, 25, 25);
}

.new-book button:hover,
.new-book button:active {
  background-color: rgb(24, 24, 216);
  border-color: rgb(24, 24, 216);
}

.new-book button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-book button.alternative:hover,
.new-book button.alternative:active {
  background-color: #ddb3f8;
}
